* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header,
main {
    max-width: 1140px;
    margin: 0px auto;
}

/* shared style */
.dark_1 {
    font-size: 1rem;
    color: rgba(137, 135, 161, 1);
}

.dark_2 {
    font-size: 1rem;
    color: rgba(37, 36, 50, 1);
}

.design_text{
   color: rgba(233, 90, 8, 1);
}
.title_3{
    font-size: 2rem;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);;
}
.design_text2{
    font-size: 1.2rem;
    color: rgba(137, 135, 161, 1);
}
.off{
    font-weight: bold;
    font-size: 1.2rem;
    color: white;

}



/* nav style */
.nav_bar {
    margin: 10px auto;
    display: flex;
    justify-content: space-between;

}

.nav_list {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.nav_list_1 ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.nav_list_1 ul a {
    text-decoration: none;
}

.nav_img {
    width: 100px;
    height: 50px;
}

.nav_img img {

    width: 100%;
    height: 100%;
}

.nav_list_2 img {
    width: 24px;
    height: 24px;
}

.nav_list_2 {
    align-items: center;
    display: flex;
    gap: 5px;

}

.nav_list_2 a {
    text-decoration: none;
}

.fresh_title {
    font-size: 2.5rem;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
}

/* fresh flower */
.fresh_flowers {
    margin-top: 100px;
    display: flex;
    gap: 400px;

    align-items: flex-end;
}



.fresh_image img {
    width: 100%;
}

.fresh_title {
    margin-bottom: 13px;
}

/* out plants */
.plants{
    margin-top: 120px;
}
.plants_info{
     max-width: 600px;
    margin: 0px auto;
    text-align: center;
}
.plants_description{
    margin-top: 16px;
    margin-bottom: 49px;
}
.plant_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.card{
    text-align: center;
}
.card_title{
    margin-top: 1.9rem;
    color: rgba(17, 17, 17, 1);
}
.card_price{
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 1.9rem;
}
.card_btn{
    font-weight: 600;
    font-size: 1rem;
    color: white;
    width: 100%;
    padding: 5px 10px;
    background-color: rgba(233, 90, 8, 1);;
}
.card img{
    width: 100%;
}
/* fun section */
.fun{
    margin-top: 150px;
    position: relative;
}
.sticker{
   width: 200px;
    height: 200px;
    position: absolute;
    top: -6rem;
    left: 20rem;
}
.sticker img{
    width: 100%;
    height: 100%;
}

/* lover section */
.lover{
    margin-top: 0px;
    display: flex;
    gap: 50px;
    

    
   
}

.lover_image img{
    width: 80%;
    height: 90%;
   
  
}
.lover_info{
    margin-top: 20px;
    width: 50%;
}
.lover_title{
    margin-bottom: 40px;
}
.lover_info ul li{
   margin-bottom: 30px  
}

/* sticker */
/* .sticker img{
    width: 200px;
    height: 200px;
    position: relative;
    left: 240px;
    top: 100px;
} */

/* deals  */
.deals{
    margin-top: 100px;
}
.deals_info{
    max-width: 600px;
    margin: 0px auto;
    text-align: center;
   
    margin-bottom: 80px;
}
.deals_title{
    margin-bottom: 16px;
}



.deal1{
    background-image: url(./images/deal-bloom.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    grid-area: deal1;
    border-radius: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
      flex-direction: column;
}
.deal2{
    background-image: url(./images/deal-zabo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
     grid-area: deal2;
     border-radius: 10px;
      display: flex;
     justify-content: center;
     align-items: center;
     color: white;
     flex-direction: column;
}
.deal3{
    background-image: url(./images/deal-ana.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
     grid-area: deal3;
     border-radius: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
      flex-direction: column;
}
.deals_container{
    margin-bottom: 200px;
    display: grid;
    grid-template-areas:
    "deal1 deal2 deal2" 
    "deal3 deal2 deal2"
    ;
    grid-template-columns: 1fr 2fr;
 
    gap: 20px;
}
.half{
    font-weight: bold;
    font-size: 1.25rem;
}
.half_shop{
    color: white;
    font-size: 1rem;
    font-weight: 600;
}
.full{
    font-weight: bold;
    font-size: 2.5rem;
}
.full_shop{
    color: white;
    font-size: 1.75rem;
    font-weight: 600;
}





/* media query */
@media screen and (max-width:576px) {

    .nav_list_1 {
        display: none;
    }
    .nav_bar{
         margin: 0px 10px;
    }

    .fresh_flowers {
        flex-direction: column-reverse;
        gap: 100px;
    }

    .fresh_image img {
        width: 100%;
         padding: 0px 10px;

    }
    .fresh_info{
        margin: 0px 10px;

    }
    .plant_container{
        grid-template-columns: repeat(2,1fr);
        margin: 0px 10px;
    }
    .lover{
        flex-direction: column;
       
        margin: 0px 10px;
    }
    .lover{
       
        margin-top: 50px;
    }
    .lover_info{
        width: 100%;
    }
    .lover_image img{
        width: 100%;
    }
    .sticker{
        display: none;
    }
    .deals{
        margin: 0px 10px;
    }
      .deals_container {
    display: grid;
    grid-template-areas:
      "deal1"
      "deal3"
      "deal2";
    grid-template-columns: 1fr; /* এক কলাম */
    gap: 20px;
  }
   .deal1, .deal2, .deal3 {
    height: 200px; 
  }

   
}